.navbar {
  position: relative;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #003366;
}

.navbar a {
  color: white;
}

.navbar img {
  float: right;
  padding: 10px;
  max-width: 200px;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.connexion h1 {
  text-align: center;
  color: #333;
  padding-top: 100px;
  padding-bottom: 100px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #C0C0C0;

}

.container {
  max-width: 550px;
  padding: 40px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 40px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.form-group input[type="submit"] {
  background-color: #4caf50;
  color: #ffffff;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #45a049;
}

.form-group .link {
  text-align: center;
  margin-top: 10px;
}

form {
  margin-bottom: 30px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin: 0;
  color: black;
}

table {
  border-collapse: collapse;
  width: 100%;
  top: 0;
  left: 0;
  height: 50vh;
  table-layout: fixed;


}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

.bord {
  padding: 10px;
}

.gauche {
  width: 40%;
  top: 0;
  right: 0;

}

.personne-detail {
  display: grid;
  gap: 10px;
}

.detail-row {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

.detail-label {
  font-weight: bold;
}